// vant
const { VantResolver } = require('unplugin-vue-components/resolvers')
const ComponentsPlugin = require('unplugin-vue-components/webpack')

// 打包结果分析工具
const BundleAnalyzerPlugin = require('webpack-bundle-analyzer').BundleAnalyzerPlugin

if (process.env.NODE_ENV === 'production') {
  module.exports = {
    plugins: [
      // vant
      ComponentsPlugin({
        resolvers: [VantResolver()],
      }),
      // 打包结果分析工具
      new BundleAnalyzerPlugin()
    ]
  }
} else {
  module.exports = {
    plugins: [
      // vant
      ComponentsPlugin({
        resolvers: [VantResolver()],
      })
    ]
  }
}